<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center m-5">Template Driven Form</h1>
    <div class="main">
        <h1 class="text-center">Sign in</h1>
        <form #forms="ngForm" (ngSubmit)="forms.valid&&signinSubmit()">
           <input type="email" class="form-control" placeholder="Email" name="email" #Email="ngModel" [(ngModel)]="signin.email" required="required" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
           <small class="text-danger" *ngIf="forms.submitted&&Email.errors&&Email.errors['required']">Email is Required</small>
           <small class="text-danger" *ngIf="forms.submitted&&Email.errors&&Email.errors['pattern']">Invalid Email Format</small>

           <input type="password" class="form-control" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="signin.password" required="required" pattern="[a-zA-z]{4,6}">
           <small class="text-danger" *ngIf="forms.submitted&&password.errors&&password.errors['required']">Password is Required</small>
           <small class="text-danger" *ngIf="forms.submitted&&password.errors&&password.errors['pattern']">Password is Required</small>
           
           
           <input type="password" class="form-control" placeholder="Confirm Password" name="confirm" #confirm_password="ngModel" [(ngModel)]="signin.confirm_password" required="required">
           <small class="text-danger" *ngIf="forms.submitted&&confirm_password.errors&&confirm_password.errors['required']">Confirm Password is Required</small>

           <input type="submit" value="Submit" class="btn btn-success text-center">
        </form>
    </div>
</body>
</html>